.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
}
.barraLateral{
    background-color: antiquewhite;
    border: 0.5px solid black;
}
.index-section{
    padding: 5px;
    border-bottom: 1px solid black;
}
.index-section:hover{
    background-color: aqua;
}