@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete");

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
}
.barraLateral{
    background-color: rgb(0, 89, 85);
    border: 0.1px solid black;
}
.index-section{

    padding: 5px;
    border-bottom: 0.2px solid black;
}
.index-section:hover{
    background-color: rgb(255, 255, 255);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.delete-button{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: none;
    background-color: #e60707;
    border-radius: 10px;
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    transition: 0.4s all ease;
}
.delete-button:focus {
    outline: none; 
}
