@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navBar_container{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255) ;
    border-bottom: 1px solid #00595B;
    height: 50px;
}
svg{
    box-sizing: border-box;
}
.navBar_container button{
    display: flex;
    text-decoration: none;
    padding: 5px;
    border: none;
    background-color: #EA3323;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    
    cursor: pointer;
    transition: 0.4s all ease;
}
.navBar_container button:hover{
    background-color: #8B1A10;
    border-color: #8B1A10;
}
.navBar_container h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #00595B;
}

.ocultar{
    visibility: hidden;
}